html body {
    background-color: rgb(67, 67, 67);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 22px;
    font-family: sans-serif;
}

div {
    position: absolute;
    top: 10%;
    width: 505px;
    height: 760px;
    background-color: rgb(119, 119, 119);
    border-radius: 5px;
}

